AI Resume Screener.json
{
  "name": "AI Resume Screener",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-resume-upload",
        "options": {}
      },
      "id": "d36a83d7-bbe2-4059-a05c-dbd18cd76b15",
      "name": "Webhook - Receive Resume",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1328,
        -144
      ],
      "webhookId": "d17c38b0-6251-4c23-8357-aa739c6299d6"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume",
        "options": {}
      },
      "id": "878ee222-449b-44d5-805d-e0c4028a6838",
      "name": "Extract Text from Resume",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1184,
        64
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5GDOtHdDCihDak",
          "mode": "list",
          "cachedResultName": "AI Resume Screener",
          "cachedResultUrl": "https://airtable.com/app5GDOtHdDCihDak"
        },
        "table": {
          "__rl": true,
          "value": "tblaz6NTyKFeLv4d3",
          "mode": "list",
          "cachedResultName": "Job Postings",
          "cachedResultUrl": "https://airtable.com/app5GDOtHdDCihDak/tblaz6NTyKFeLv4d3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -976,
        144
      ],
      "id": "c9e3b7d9-c6e4-43b1-9c84-69f68264016f",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NimJJzRWcFwYazKr",
          "name": "Job Postings"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        96
      ],
      "id": "15e8ed11-1636-4f94-be0e-04a2cf026789",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -464,
        244
      ],
      "id": "aa686d86-d704-416c-8e56-0a321a5b8fe3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI resume screener. Compare this resume text with the given job description.\nReturn a JSON with fields:\n{\n  \"match_score\": \"0-100\",\n  \"decision\": \"shortlist\" | \"review\" | \"reject\",\n  \"summary\": \"brief explanation\"\n}\n\nResume Text:\n{{ $('Extract Text from Resume').item.json.text }}\n\n\nJob Title: {{$json[\"Job Title\"]}}\nDescription: {{$json[\"Description\"]}}\nRequired Skills: {{$json[\"Required Skills\"].join(\", \")}}\nExperience Required: {{$json[\"Experience\"]}} years\nJob ID: {{$json[\"Job ID\"]}}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -400,
        -176
      ],
      "id": "a6142450-3674-46c2-9cc1-ededf0a3d89b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        96
      ],
      "id": "d1a151ca-4144-44be-87a9-bb86475fe9b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oqUml8jAgWHJWZFN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"job_id\": \"JOB001\",\n    \"job_title\": \"Backend Developer\",\n    \"candidate_name\":\"Pankaj Kumar\",\n    \"candidate_email\":\"pankaj@gmail.com\",\n    \"match_score\": 55,\n    \"decision\": \"review\",\n    \"summary\": \"...\"\n  },\n  {\n    \"job_id\": \"JOB002\",\n    \"job_title\": \"Data Analyst\",\n    \"candidate_name\":\"Abhishek Kumar\",\n    \"candidate_email\":\"abhishek@gmail.com\",\n    \"match_score\": 88,\n    \"decision\": \"shortlist\",\n    \"summary\": \"...\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -256,
        96
      ],
      "id": "16af8fc2-96da-4ac5-af3a-9764ec23b176",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// ✅ Collect all input items from the previous node\nconst results = items.map(item => item.json.output || item.json);\n\n// ✅ Flatten if nested under output array (for Gemini AI)\nconst flattened = [];\nfor (const res of results) {\n  if (Array.isArray(res)) {\n    flattened.push(...res);\n  } else if (res.output && Array.isArray(res.output)) {\n    flattened.push(...res.output);\n  } else {\n    flattened.push(res);\n  }\n}\n\n// ✅ Find the best match by highest match_score\nlet bestMatch = flattened.reduce((best, current) => {\n  if (Number(current.match_score || 0) > Number(best.match_score || 0)) {\n    return current;\n  } else {\n    return best;\n  }\n}, { match_score: 0 });\n\n// ✅ Return best match object\nreturn [\n  {\n    json: {\n      job_id: bestMatch.job_id,\n      job_title: bestMatch.job_title,\n      candidate_name:bestMatch.candidate_name,\n      candidate_email:bestMatch.candidate_email,\n      description: bestMatch.description,\n      required_skills: bestMatch.required_skills,\n      match_score: bestMatch.match_score,\n      decision: bestMatch.decision,\n      summary: bestMatch.summary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -64
      ],
      "id": "cf1e5a94-3bde-4c12-a392-0efe9308d848",
      "name": "Find Best Match"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7247a9fa-90a3-4e85-8640-a0bcaee31622",
              "leftValue": "={{ $json.match_score }}",
              "rightValue": 69,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -16
      ],
      "id": "02f67ae8-acaa-4467-a773-3dcb58181cdf",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6454185e-131f-49d6-bcda-362cf2e78c86",
              "leftValue": "={{ $json.match_score }}",
              "rightValue": 49,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        16
      ],
      "id": "e74afb1f-f654-4c1f-9672-efd6ee2139cf",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "pankajkumar11102611@gmail.com",
        "subject": "=Subject: Candidate Evaluation Summary – {{ $json.job_title }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height:1.4; color:#111;\">\n  <p><strong>New Candidate Evaluation</strong></p>\n\n  <p><strong>Job ID:</strong> {{ $json.job_id }}</p>\n  <p><strong>Job Title:</strong>{{ $json.job_title }}</p>\n  <p><strong>Candidate Name:</strong>{{ $json.candidate_name }} </p>\n  <p><strong>Candidate Email:</strong>{{ $('Webhook - Receive Resume').first().json.body.email }}\n</p>\n  <p><strong>Match Score:</strong>{{ $json.match_score }}%</p>\n  <p><strong>Decision:</strong> {{ $json.decision }}</p>\n\n  <p><strong>Summary:</strong><br>\n    {{ $json.summary }}\n  </p>\n\n  <p>Resume is attached to this email.</p>\n\n  <p>Regards,<br/>AI Resume Screener</p>\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "resume"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        336
      ],
      "id": "7a5bf2e4-f17d-4dfc-8739-5b222dbe17bd",
      "name": "Review Mail to HR",
      "webhookId": "f78ca00c-3286-493e-8fc4-32c61f04cee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "23K2XMPrD2aYrhwr",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Receive Resume').first().json.body.email }}\n",
        "subject": "=Application Status Update – {{ $json.job_title }}\n",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height:1.4; color:#222;\">\n  <p>Hi,{{ $json.candidate_name }}</p>\n\n  <p>\n    Thank you for applying for the <strong>{{ $json.job_title }}</strong> role\n    (Job ID:{{ $json.job_id }} ).\n  </p>\n\n  <p style=\"font-size:15px;\"><strong>Your application is currently under review.</strong></p>\n\n  <p><strong>Match Score:</strong> {{ $json.match_score }}%</p>\n\n  <p><strong>Summary:</strong><br>\n  {{ $json.summary }}\n  </p>\n\n  <p>We’ll be in touch once our review is complete.</p>\n\n  <p>Kind regards,<br/>HR Team</p>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        112
      ],
      "id": "727927f0-1e55-4329-abe0-f89e8fba91a4",
      "name": "Review Mail to Candidate",
      "webhookId": "f78ca00c-3286-493e-8fc4-32c61f04cee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "23K2XMPrD2aYrhwr",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Receive Resume').first().json.body.email }}\n",
        "subject": "=Subject: Application Update – ",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height:1.4; color:#222;\">\n  <p>Hi ,</p>\n\n  <p>\n    Thank you for applying for the <strong>{{ $('Find Best Match').item.json.job_title }}</strong> role\n    (Job ID:{{ $('Find Best Match').item.json.job_id }}).\n  </p>\n\n  <p style=\"font-size:15px;\"><strong>Application Update</strong></p>\n\n  <p>After careful review, we will not be moving forward with your application at this time.</p>\n\n  <p><strong>Match Score:</strong> {{ $json.match_score }}%</p>\n\n  <p><strong>Summary:</strong><br>\n   {{ $json.summary }}\n  </p>\n\n  <p>We appreciate your interest and encourage you to apply for future openings that match your profile.</p>\n\n  <p>Best wishes,<br/>HR Team</p>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        -64
      ],
      "id": "6d114782-19f6-44b3-a248-43bb11ada7c6",
      "name": "Rejection Mail to Candidate",
      "webhookId": "f78ca00c-3286-493e-8fc4-32c61f04cee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "23K2XMPrD2aYrhwr",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Receive Resume').first().json.body.email }}\n",
        "subject": "=Congratulations! You've been shortlisted for {{ $json.job_title }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height:1.4; color:#222;\">\n  <p>Hi {{ $json.candidate_name }},</p>\n\n  <p style=\"font-size:16px;\"><strong>Congratulations! 🎉</strong></p>\n\n  <p>\n    Based on our evaluation for the <strong>{{ $json.job_title }}</strong> role\n    (Job ID:{{ $json.job_id }} ), your application has been\n    <strong>shortlisted</strong> for the next stage.\n  </p>\n\n  <p><strong>Match Score:</strong> {{ $json.match_score }}%</p>\n\n  <p><strong>Summary:</strong><br>\n   {{ $json.summary }}\n  </p>\n\n  <p>Our HR team will contact you soon with the next steps.</p>\n\n  <p>Best regards,<br/>HR Team</p>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        -224
      ],
      "id": "0b46ad8a-c498-4fd7-84f0-473921daf52d",
      "name": "Shortlist Mail to Candidate",
      "webhookId": "f78ca00c-3286-493e-8fc4-32c61f04cee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "23K2XMPrD2aYrhwr",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pankajkumar11102611@gmail.com",
        "subject": "=New Resume Match – {{ $json.job_title }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height:1.4; color:#111;\">\n  <p><strong>New Candidate Evaluation</strong></p>\n\n  <p><strong>Job ID:</strong>{{ $json.job_id }} </p>\n  <p><strong>Job Title:</strong> </p>\n  <p><strong>Candidate Name:</strong> {{ $json.candidate_name }}</p>\n  <p><strong>Candidate Email:</strong> {{ $json.candidate_email }}</p>\n  <p><strong>Match Score:</strong>{{ $json.match_score }}%</p>\n  <p><strong>Decision:</strong> {{ $json.decision }}</p>\n\n  <p><strong>Summary:</strong><br>\n    {{ $json.summary }}\n  </p>\n\n  <p>Resume is attached to this email.</p>\n\n  <p>Regards,<br/>AI Resume Screener</p>\n</div>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=resume"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        -400
      ],
      "id": "214f68a2-d8d6-4c33-b05c-86451db3f18e",
      "name": "Shortlist Mail to HR",
      "webhookId": "f78ca00c-3286-493e-8fc4-32c61f04cee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "23K2XMPrD2aYrhwr",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -336
      ],
      "id": "c6fdef0c-64f6-4fb2-9d2f-3c79460d7810",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receive Resume": {
      "main": [
        [
          {
            "node": "Extract Text from Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Resume": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Find Best Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Find Best Match": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Shortlist Mail to Candidate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Shortlist Mail to HR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Rejection Mail to Candidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Mail to HR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Review Mail to Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shortlist Mail to HR": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d349d7e-fa50-45a6-8fdc-b8fef6c9ce15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6c974ae137da4324005dad8e9878269e10883a4319e4fb29f4650c784dabd25"
  },
  "id": "SAilxbc2ASQplqq3",
  "tags": []
}
